.mnrf-input {
  display: block;
  line-height: 1.6;
  color: #334155;
}
.mnrf-input.opt-bg {
  padding: 5px;
  background-color: rgba(14, 165, 233, 0.1);
}
.mnrf-input > .sub-title {
  display: block;
  color: #0EA5E9;
  font-size: 1.2em;
}
.mnrf-input > .sub-info {
  display: block;
  color: #0EA5E9;
  margin-bottom: 2px;
}
.mnrf-input > .sub-hint {
  display: block;
  color: #0EA5E9;
  margin-top: 2px;
}
.mnrf-input .sub-frame {
  display: flex;
  background-color: white;
  border-color: #7DD3FC;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  box-sizing: border-box;
}
.mnrf-input .sub-frame .sub-header {
  display: block;
  line-height: 10px;
  padding: 0.4em 0.5em;
  font-size: 0.9em;
  margin-bottom: -0.6em;
  color: #38BDF8;
}
.mnrf-input .sub-frame .sub-pwst {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.mnrf-input .sub-frame .sub-pwst svg {
  display: block;
  height: 100%;
  width: 2em;
  padding: 0 0.5em;
  fill: currentColor;
  color: #94A3B8;
}
.mnrf-input .sub-frame .sub-toggleData {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.mnrf-input .sub-frame .sub-toggleData svg {
  display: block;
  height: 100%;
  width: 2em;
  padding: 0 0.5em;
  fill: currentColor;
  color: #94A3B8;
}
.mnrf-input .sub-frame .sub-toggleData.state-up svg {
  transform: rotate(180deg);
}
.mnrf-input .sub-frame .sub-btn {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  transition: 0.3s;
  background-color: #38BDF8;
  color: #F8FAFC;
  cursor: pointer;
  padding: 0 10px;
  display: block;
  height: 100%;
}
@media (pointer: fine) {
  .mnrf-input .sub-frame .sub-btn:hover {
    background-color: #0EA5E9;
  }
}
.mnrf-input .sub-frame .sub-btn:active {
  background-color: #0284C7;
}
.mnrf-input .sub-data {
  position: absolute;
  display: none;
  width: 100%;
  box-sizing: border-box;
  top: calc(100% + 7px);
  left: 0;
  background-color: white;
  border-color: #475569;
  box-shadow: 0 0 0 2px rgba(100, 116, 139, 0.4);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  padding: 5px 0;
  z-index: 100;
}
.mnrf-input .sub-data.state-show {
  display: block;
}
.mnrf-input .sub-data .sub-option {
  display: block;
  cursor: pointer;
  padding: 5px;
  color: #94A3B8;
}
.mnrf-input .sub-data .sub-option:hover {
  color: #475569;
  background-color: #F1F5F9;
}
.mnrf-input .sub-data .sub-option.state-hide {
  display: none;
}
.mnrf-input .sub-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.mnrf-input .sub-col input {
  width: 100%;
}
.mnrf-input .sub-flex {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  position: relative;
}
.mnrf-input .sub-flex input {
  min-width: 1px;
}
.mnrf-input .sub-icon {
  width: 2em;
  padding: 0 0.5em;
  fill: currentColor;
  color: #38BDF8;
}
.mnrf-input .sub-pr-0 {
  padding-right: 0 !important;
}
.mnrf-input .sub-pl-0 {
  padding-left: 0 !important;
}
.mnrf-input .sub-pie-0 {
  padding-inline-end: 0 !important;
}
.mnrf-input .sub-pis-0 {
  padding-inline-start: 0 !important;
}
.mnrf-input .sub-psfix {
  padding: 0.5em;
  color: #38BDF8;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.mnrf-input input {
  border: none;
  outline: 0;
  display: block;
  flex-grow: 1;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  padding: 0.5em;
  cursor: inherit;
  height: 100%;
  box-sizing: border-box;
}
.mnrf-input input::placeholder {
  color: #94A3B8;
}
.mnrf-input.state-hover:not(.state-disable) .sub-frame {
  border-color: #38BDF8;
  box-shadow: 0 0 0 2px rgba(14, 165, 233, 0.2);
}
.mnrf-input.state-hover:not(.state-disable) .sub-frame input:hover:not(:focus)::placeholder {
  color: #64748B;
}
.mnrf-input.state-hover:not(.state-disable) .sub-frame .sub-header {
  color: #0EA5E9;
}
.mnrf-input.state-hover:not(.state-disable) .sub-frame .sub-icon {
  color: #0EA5E9;
}
.mnrf-input.state-focus:not(.state-disable) > .sub-hint {
  color: #0284C7;
}
.mnrf-input.state-focus:not(.state-disable) > .sub-title {
  color: #0284C7;
}
.mnrf-input.state-focus:not(.state-disable) > .sub-info {
  color: #0284C7;
}
.mnrf-input.state-focus:not(.state-disable) .sub-frame {
  border-color: #0284C7;
  box-shadow: 0 0 0 2px rgba(14, 165, 233, 0.4);
}
.mnrf-input.state-focus:not(.state-disable) .sub-frame .sub-header {
  color: #0284C7;
}
.mnrf-input.state-focus:not(.state-disable) .sub-frame .sub-icon {
  color: #0284C7;
}
.mnrf-input.state-disable {
  opacity: 0.6;
  cursor: no-drop;
}