.mnrf-input.color-red .sub-frame {
  border-color: #FCA5A5;
}

.mnrf-input.color-red.state-hover:not(.state-disable) .sub-frame {
  border-color: #F87171;
}

.mnrf-input.color-red .sub-frame .sub-btn {
  background-color: #F87171;
}

.mnrf-input.color-red .sub-psfix, .mnrf-input.color-red .sub-icon, .mnrf-input.color-red .sub-frame .sub-header {
  color: #F87171;
}

.mnrf-input.color-red.state-hover:not(.state-disable) .sub-frame .sub-icon, .mnrf-input.color-red.state-hover:not(.state-disable) .sub-frame .sub-header, .mnrf-input.color-red > .sub-hint, .mnrf-input.color-red > .sub-info, .mnrf-input.color-red > .sub-title {
  color: #EF4444;
}

.mnrf-input.color-red.state-focus:not(.state-disable) .sub-frame {
  border-color: #DC2626;
}

.mnrf-input.color-red .sub-frame .sub-btn:active {
  background-color: #DC2626;
}

.mnrf-input.color-red.state-focus:not(.state-disable) .sub-frame .sub-icon, .mnrf-input.color-red.state-focus:not(.state-disable) .sub-frame .sub-header, .mnrf-input.color-red.state-focus:not(.state-disable) > .sub-info, .mnrf-input.color-red.state-focus:not(.state-disable) > .sub-title, .mnrf-input.color-red.state-focus:not(.state-disable) > .sub-hint, .mnrf-input.color-red .sub-select {
  color: #DC2626;
}

.mnrf-input.color-yellow .sub-frame {
  border-color: #FDE047;
}

.mnrf-input.color-yellow.state-hover:not(.state-disable) .sub-frame {
  border-color: #FACC15;
}

.mnrf-input.color-yellow .sub-frame .sub-btn {
  background-color: #FACC15;
}

.mnrf-input.color-yellow .sub-psfix, .mnrf-input.color-yellow .sub-icon, .mnrf-input.color-yellow .sub-frame .sub-header {
  color: #FACC15;
}

.mnrf-input.color-yellow.state-hover:not(.state-disable) .sub-frame .sub-icon, .mnrf-input.color-yellow.state-hover:not(.state-disable) .sub-frame .sub-header, .mnrf-input.color-yellow > .sub-hint, .mnrf-input.color-yellow > .sub-info, .mnrf-input.color-yellow > .sub-title {
  color: #EAB308;
}

.mnrf-input.color-yellow.state-focus:not(.state-disable) .sub-frame {
  border-color: #CA8A04;
}

.mnrf-input.color-yellow .sub-frame .sub-btn:active {
  background-color: #CA8A04;
}

.mnrf-input.color-yellow.state-focus:not(.state-disable) .sub-frame .sub-icon, .mnrf-input.color-yellow.state-focus:not(.state-disable) .sub-frame .sub-header, .mnrf-input.color-yellow.state-focus:not(.state-disable) > .sub-info, .mnrf-input.color-yellow.state-focus:not(.state-disable) > .sub-title, .mnrf-input.color-yellow.state-focus:not(.state-disable) > .sub-hint, .mnrf-input.color-yellow .sub-select {
  color: #CA8A04;
}

.mnrf-input.color-green .sub-frame {
  border-color: #6EE7B7;
}

.mnrf-input.color-green.state-hover:not(.state-disable) .sub-frame {
  border-color: #34D399;
}

.mnrf-input.color-green .sub-frame .sub-btn {
  background-color: #34D399;
}

.mnrf-input.color-green .sub-psfix, .mnrf-input.color-green .sub-icon, .mnrf-input.color-green .sub-frame .sub-header {
  color: #34D399;
}

.mnrf-input.color-green.state-hover:not(.state-disable) .sub-frame .sub-icon, .mnrf-input.color-green.state-hover:not(.state-disable) .sub-frame .sub-header, .mnrf-input.color-green > .sub-hint, .mnrf-input.color-green > .sub-info, .mnrf-input.color-green > .sub-title {
  color: #10B981;
}

.mnrf-input.color-green.state-focus:not(.state-disable) .sub-frame {
  border-color: #059669;
}

.mnrf-input.color-green .sub-frame .sub-btn:active {
  background-color: #059669;
}

.mnrf-input.color-green.state-focus:not(.state-disable) .sub-frame .sub-icon, .mnrf-input.color-green.state-focus:not(.state-disable) .sub-frame .sub-header, .mnrf-input.color-green.state-focus:not(.state-disable) > .sub-info, .mnrf-input.color-green.state-focus:not(.state-disable) > .sub-title, .mnrf-input.color-green.state-focus:not(.state-disable) > .sub-hint, .mnrf-input.color-green .sub-select {
  color: #059669;
}

.mnrf-input .sub-frame {
  border-color: #7DD3FC;
}

.mnrf-input.state-hover:not(.state-disable) .sub-frame {
  border-color: #38BDF8;
}

.mnrf-input .sub-frame .sub-btn {
  background-color: #38BDF8;
}

.mnrf-input .sub-psfix, .mnrf-input .sub-icon, .mnrf-input .sub-frame .sub-header {
  color: #38BDF8;
}

.mnrf-input.state-hover:not(.state-disable) .sub-frame .sub-icon, .mnrf-input.state-hover:not(.state-disable) .sub-frame .sub-header, .mnrf-input > .sub-hint, .mnrf-input > .sub-info, .mnrf-input > .sub-title {
  color: #0EA5E9;
}

.mnrf-input.state-focus:not(.state-disable) .sub-frame {
  border-color: #0284C7;
}

.mnrf-input .sub-frame .sub-btn:active {
  background-color: #0284C7;
}

.mnrf-input.state-focus:not(.state-disable) .sub-frame .sub-icon, .mnrf-input.state-focus:not(.state-disable) .sub-frame .sub-header, .mnrf-input.state-focus:not(.state-disable) > .sub-info, .mnrf-input.state-focus:not(.state-disable) > .sub-title, .mnrf-input.state-focus:not(.state-disable) > .sub-hint, .mnrf-input .sub-select {
  color: #0284C7;
}

.mnrf-input {
  display: block;
  line-height: 1.6;
  color: #334155;
}
.mnrf-input.opt-bg {
  padding: 5px;
  background-color: rgba(14, 165, 233, 0.1);
}
.mnrf-input > .sub-title {
  display: block;
  color: #0EA5E9;
  font-size: 1.2em;
}
.mnrf-input > .sub-info {
  display: block;
  color: #0EA5E9;
  margin-bottom: 2px;
}
.mnrf-input > .sub-hint {
  display: block;
  color: #0EA5E9;
  margin-top: 2px;
}
.mnrf-input .sub-frame {
  line-height: normal;
  display: flex;
  background-color: white;
  border-color: #7DD3FC;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  box-sizing: border-box;
}
.mnrf-input .sub-frame .sub-header {
  display: block;
  line-height: 10px;
  padding: 0.4em 0.5em;
  font-size: 0.9em;
  margin-bottom: -0.6em;
  color: #38BDF8;
}
.mnrf-input .sub-frame .sub-pwst {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.mnrf-input .sub-frame .sub-pwst svg {
  display: block;
  height: 100%;
  width: 2em;
  padding: 0 0.5em;
  fill: currentColor;
  color: #94A3B8;
}
.mnrf-input .sub-frame .sub-toggleData {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.mnrf-input .sub-frame .sub-toggleData svg {
  display: block;
  height: 100%;
  width: 2em;
  padding: 0 0.5em;
  fill: currentColor;
  color: #94A3B8;
}
.mnrf-input .sub-frame .sub-toggleData.state-up svg {
  transform: rotate(180deg);
}
.mnrf-input .sub-frame .sub-btn {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  transition: 0.3s;
  background-color: #38BDF8;
  color: #F8FAFC;
  cursor: pointer;
  padding: 0 10px;
  display: block;
  height: 100%;
}
@media (pointer: fine) {
  .mnrf-input .sub-frame .sub-btn:hover {
    background-color: #0EA5E9;
  }
}
.mnrf-input .sub-frame .sub-btn:active {
  background-color: #0284C7;
}
.mnrf-input .sub-data {
  position: absolute;
  display: none;
  width: 100%;
  max-height: 185px;
  overflow-y: auto;
  box-sizing: border-box;
  top: calc(100% + 7px);
  left: 0;
  background-color: white;
  border-color: #475569;
  box-shadow: 0 0 0 2px rgba(100, 116, 139, 0.4);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  padding: 5px 0;
  z-index: 100;
}
.mnrf-input .sub-data.state-show {
  display: block;
}
.mnrf-input .sub-data .sub-option {
  display: block;
  cursor: pointer;
  padding: 5px;
  color: #94A3B8;
}
.mnrf-input .sub-data .sub-option:hover {
  color: #475569;
  background-color: #F1F5F9;
}
.mnrf-input .sub-data .sub-option.state-hide {
  display: none;
}
.mnrf-input .sub-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.mnrf-input .sub-col input {
  width: 100%;
}
.mnrf-input .sub-flex {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  position: relative;
}
.mnrf-input .sub-flex input {
  min-width: 1px;
}
.mnrf-input .sub-icon {
  width: 2em;
  padding: 0 0.5em;
  fill: currentColor;
  color: #38BDF8;
}
.mnrf-input .sub-pr-0 {
  padding-right: 0 !important;
}
.mnrf-input .sub-pl-0 {
  padding-left: 0 !important;
}
.mnrf-input .sub-pie-0 {
  padding-inline-end: 0 !important;
}
.mnrf-input .sub-pis-0 {
  padding-inline-start: 0 !important;
}
.mnrf-input .sub-psfix {
  padding: 0.5em;
  color: #38BDF8;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.mnrf-input input {
  border: none;
  outline: 0;
  display: block;
  flex-grow: 1;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  padding: 0.5em;
  cursor: inherit;
  height: 100%;
  box-sizing: border-box;
}
.mnrf-input input::placeholder {
  color: #94A3B8;
}
.mnrf-input .sub-select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: #0284C7;
  height: 100%;
}
.mnrf-input .sub-select .sub-toggleData {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.mnrf-input .sub-select .sub-toggleData .sub-seltext {
  display: block;
  width: 100%;
  padding: 0.5em;
}
.mnrf-input .sub-select .sub-toggleData svg {
  color: inherit;
  fill: currentColor;
}
.mnrf-input .sub-select .sub-data .sub-search {
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #94A3B8;
  margin-top: -5px;
}
.mnrf-input .sub-select .sub-data .sub-search input {
  display: block;
  width: 100%;
}
.mnrf-input .sub-select .sub-data .sub-option::before {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-inline-end: 6px;
  border-style: solid;
  border-color: currentColor;
  border-width: 0.25em;
  border-radius: 1000px;
  box-sizing: border-box;
  vertical-align: middle;
}
.mnrf-input .sub-select .sub-data .sub-option.state-select {
  background-color: #475569;
  color: #F1F5F9;
}
.mnrf-input.state-hover:not(.state-disable) .sub-frame {
  border-color: #38BDF8;
  box-shadow: 0 0 0 2px rgba(14, 165, 233, 0.2);
}
.mnrf-input.state-hover:not(.state-disable) .sub-frame input:hover:not(:focus)::placeholder {
  color: #64748B;
}
.mnrf-input.state-hover:not(.state-disable) .sub-frame .sub-header {
  color: #0EA5E9;
}
.mnrf-input.state-hover:not(.state-disable) .sub-frame .sub-icon {
  color: #0EA5E9;
}
.mnrf-input.state-focus:not(.state-disable) > .sub-hint {
  color: #0284C7;
}
.mnrf-input.state-focus:not(.state-disable) > .sub-title {
  color: #0284C7;
}
.mnrf-input.state-focus:not(.state-disable) > .sub-info {
  color: #0284C7;
}
.mnrf-input.state-focus:not(.state-disable) .sub-frame {
  border-color: #0284C7;
  box-shadow: 0 0 0 2px rgba(14, 165, 233, 0.4);
}
.mnrf-input.state-focus:not(.state-disable) .sub-frame .sub-header {
  color: #0284C7;
}
.mnrf-input.state-focus:not(.state-disable) .sub-frame .sub-icon {
  color: #0284C7;
}
.mnrf-input.state-disable {
  opacity: 0.6;
  cursor: no-drop;
}
.mnrf-input .sub-vhr {
  width: 2px;
  background-color: #CBD5E1;
  margin: 0.4em 0.5px;
}

.mnrf-mob-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(15, 23, 42, 0.5);
  padding: 5px;
  box-sizing: border-box;
  z-index: 1000;
}
.mnrf-mob-wrap .sub-wrap {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  transition: 0.3s;
}
.mnrf-mob-wrap .sub-wrap button {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  padding: 0.5em;
  width: 100%;
  display: block;
  z-index: 100;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  transition: 0.3s;
  background-color: #94A3B8;
  color: #F8FAFC;
  cursor: pointer;
}
@media (pointer: fine) {
  .mnrf-mob-wrap .sub-wrap button:hover {
    background-color: #64748B;
  }
}
.mnrf-mob-wrap .sub-wrap button:active {
  background-color: #475569;
}
.mnrf-mob-wrap .mnrf-input {
  padding: 0;
}
.mnrf-mob-wrap .mnrf-input > *:not(.sub-frame) {
  display: none;
}
.mnrf-mob-wrap .mnrf-input .sub-frame {
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none !important;
}
.mnrf-mob-wrap .mnrf-input .sub-col {
  position: static;
}
.mnrf-mob-wrap .mnrf-input .sub-data {
  height: 100vh;
  max-height: none;
  padding-bottom: 200px;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.mnrf-input.opt-bg {
  background-color: rgba(14, 165, 233, 0.1);
}
@media (pointer: fine) {
  .mnrf-input .sub-frame .sub-btn:hover {
    background-color: #0EA5E9;
  }
}
.mnrf-input.state-hover:not(.state-disable) .sub-frame {
  box-shadow: 0 0 0 2px rgba(14, 165, 233, 0.2);
}
.mnrf-input.state-focus:not(.state-disable) .sub-frame {
  box-shadow: 0 0 0 2px rgba(14, 165, 233, 0.4);
}
.mnrf-input.color-red.opt-bg {
  background-color: rgba(239, 68, 68, 0.1);
}
@media (pointer: fine) {
  .mnrf-input.color-red .sub-frame .sub-btn:hover {
    background-color: #EF4444;
  }
}
.mnrf-input.color-red.state-hover:not(.state-disable) .sub-frame {
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.2);
}
.mnrf-input.color-red.state-focus:not(.state-disable) .sub-frame {
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.4);
}
.mnrf-input.color-yellow.opt-bg {
  background-color: rgba(234, 179, 8, 0.1);
}
@media (pointer: fine) {
  .mnrf-input.color-yellow .sub-frame .sub-btn:hover {
    background-color: #EAB308;
  }
}
.mnrf-input.color-yellow.state-hover:not(.state-disable) .sub-frame {
  box-shadow: 0 0 0 2px rgba(234, 179, 8, 0.2);
}
.mnrf-input.color-yellow.state-focus:not(.state-disable) .sub-frame {
  box-shadow: 0 0 0 2px rgba(234, 179, 8, 0.4);
}
.mnrf-input.color-green.opt-bg {
  background-color: rgba(16, 185, 129, 0.1);
}
@media (pointer: fine) {
  .mnrf-input.color-green .sub-frame .sub-btn:hover {
    background-color: #10B981;
  }
}
.mnrf-input.color-green.state-hover:not(.state-disable) .sub-frame {
  box-shadow: 0 0 0 2px rgba(16, 185, 129, 0.2);
}
.mnrf-input.color-green.state-focus:not(.state-disable) .sub-frame {
  box-shadow: 0 0 0 2px rgba(16, 185, 129, 0.4);
}