%sub-box {
    margin: 2px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
}

%normol-sub-box-sm{
    width: 18px;
    height: 18px;
}
%normol-sub-box-md{
    width: 20px;
    height: 20px;
}
%normol-sub-box-lg{
    width: 22px;
    height: 22px;
}
%normol-sub-box-em{
    width: 1.46em;
    height: 1.46em;
}
%slider-sub-box-sm{
    width: 31.5px;
}
%slider-sub-box-md{
    width: 35px;
}
%slider-sub-box-lg{
    width: 38.5px;
}
%slider-sub-box-em{
    width: 2.555em;
}

%round-corner{
    border-radius: 1000px;
}

%insider {
    content: '';
    display: block;
    @extend %round-corner;
}

%transition{
    transition: all .3s;
}

%slider-inside{
    position: relative;
    left: 1px;
    width: 55%;
}

%box {
    &,& *{
        cursor: pointer;
    }
}

%no-drap{
    cursor: no-drop;
}

%display-none{
    display: none;
}

%opt-block{
    display: block;
}

%clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}