// @use 'extends';
// @import "../../color";

.mnrf-radio-key {
	margin: 0.1em;
	&,& *{
        cursor: pointer;
    }
	border-radius: 1000px;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	&,& *:not(svg),& *::after,& *::before{
		transition: all .3s;
	}
	// @extend %tw-bg-lightBlue-400;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	box-sizing: border-box;
	height: 2.5em;
	padding: 0.3em 0 0.3em 0.3em;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	// &:hover {
	// 	label {
	// 		transition: all .3s;
	// 	}
	// }

	label {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0.3em 0.6em;
		margin: 0 0.3em 0 0;
		height: 100%;
		box-sizing: border-box;
		// @extend %tw-bg-lightBlue-300;
		border-radius: 1000px;
		// @extend %tw-text-lightBlue-600;
	}

	input {
		opacity: 0;
		width: 0;
		height: 0;
		&:disabled {
			& + label {
				cursor: no-drop;
				opacity: .5;
			}
		}
	}

	&.opt-sm {
		height: 2em;
		padding: 0.23em 0 0.23em 0.23em;

		label {
			padding: 0.25em 0.5em;
			margin: 0 0.23em 0 0;
		}
	}

	&.opt-md {
		height: 2.5em;
		padding: 0.3em 0 0.3em 0.3em;

		label {
			padding: 0.3em 0.6em;
			margin: 0 0.3em 0 0;
		}
	}

	&.opt-lg {
		height: 3em;
		padding: 0.4em 0 0.4em 0.4em;

		label {
			padding: 0.4em 0.7em;
			margin: 0 0.4em 0 0;
		}
	}

	&.opt-fh {
		height: 100%;
	}
}

$colors: (
	"main": "lightBlue",
	"red": "red",
	"yellow": "yellow",
	"green": "emerald",
);

@each $name, $color in ($colors) {
	$className: ".mnrf-radio-key.color-#{$name}";

	@if $name== "main" {
		$className: ".mnrf-radio-key";
	}

	#{$className} {
		@extend %tw-bg-#{$color}-400;

		label {
			@extend %tw-bg-#{$color}-300;
			@extend %tw-text-#{$color}-600;
		}

		input {
			&:hover:enabled + label, &:focus + label {
				@extend %tw-bg-#{$color}-500;
				@extend %tw-text-#{$color}-100;
			}

			&:checked {
				&,&:enabled{
					&+label{
						@extend %tw-bg-#{$color}-600;
						@extend %tw-text-#{$color}-100;
					}
				}
			}

			// &:disabled {
			// 	& + label {
			// 		@extend %tw-bg-#{$color}-200;
			// 		@extend %tw-text-#{$color}-300;
			// 	}

			// 	&:checked + label {
			// 		@extend %tw-bg-#{$color}-500;
			// 		@extend %tw-text-#{$color}-600;
			// 	}
			// }
		}
	}
}
