// @use 'extends';
// @import "../../color";

.mnrf-radio-key {
	@extend %chek_and_radio_main_body;
	background-color: map-get(map-get($tw_colors, #{$main-color}), 400);
	border-radius: 1000px;
	// @extend %tw-bg-lightBlue-400;
	position: relative;
	vertical-align: middle;
	box-sizing: border-box;
	height: 2.5em;
	padding: 0.3em 0 0.3em 0.3em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
	label{
		display: inline-flex;
		height: 100%;
	}

	.sub-check {
		background-color: map-get(map-get($tw_colors, #{$main-color}), 300);
		color: map-get(map-get($tw_colors, #{$main-color}), 600);
		transition: all 0.3s;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0.3em 0.6em;
		margin: 0 0.3em 0 0;
		height: 100%;
		box-sizing: border-box;
		// @extend %tw-bg-lightBlue-300;
		border-radius: 1000px;
		// @extend %tw-text-lightBlue-600;
	}

	input {
		@extend %chek_and_radio_input_hide;
		&:hover:enabled + .sub-check,
		&:focus + .sub-check {
			background-color: map-get(map-get($tw_colors, #{$main-color}), 500);
			color: map-get(map-get($tw_colors, #{$main-color}), 100);
		}
		&:checked {
			& + .sub-check {
				background-color: map-get(map-get($tw_colors, #{$main-color}), 600) !important;
				color: map-get(map-get($tw_colors, #{$main-color}), 100) !important;
			}
		}
		&:disabled {
			& + .sub-check {
				cursor: no-drop;
				opacity: 0.5;
			}
		}
	}

	&.opt-sm {
		height: 2em;
		padding: 0.23em 0 0.23em 0.23em;

		.sub-check {
			padding: 0.25em 0.5em;
			margin: 0 0.23em 0 0;
		}
	}

	&.opt-md {
		height: 2.5em;
		padding: 0.3em 0 0.3em 0.3em;

		.sub-check {
			padding: 0.3em 0.6em;
			margin: 0 0.3em 0 0;
		}
	}

	&.opt-lg {
		height: 3em;
		padding: 0.4em 0 0.4em 0.4em;

		.sub-check {
			padding: 0.4em 0.7em;
			margin: 0 0.4em 0 0;
		}
	}

	&.opt-fh {
		height: 100%;
	}
}

@each $name, $color in ($colors) {
	$className: ".mnrf-radio-key.color-#{$name}";

	@if $name== "main" {
		$className: ".mnrf-radio-key";
	}

	#{$className} {
		background-color: map-get(map-get($tw_colors, #{$color}), 400);

		.sub-check {
			background-color: map-get(map-get($tw_colors, #{$color}), 300);
			color: map-get(map-get($tw_colors, #{$color}), 600);
		}

		input {
			&:hover:enabled + .sub-check,
			&:focus + .sub-check {
				background-color: map-get(map-get($tw_colors, #{$color}), 500);
				color: map-get(map-get($tw_colors, #{$color}), 100);
			}

			&:checked {
				& + .sub-check {
					background-color: map-get(map-get($tw_colors, #{$color}), 600) !important;
					color: map-get(map-get($tw_colors, #{$color}), 100) !important;
				}
			}
		}
	}
}
