// @use 'extends';
// @import "../../color";

.mnrf-checkbox {
	&,
	& * {
		cursor: pointer;
	}
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	&,
	& *:not(svg) > * > *,
	& *::after,
	& *::before {
		transition: all 0.3s;
	}
	.sub-box {
		margin: 2px;
		background-color: white;
		border-width: 2px;
		border-style: solid;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		box-sizing: border-box;
		width: 20px;
		height: 20px;
		border-radius: 2px;
		z-index: 3;
		.sub-check {
			height: 100%;
			display: block;
			fill: currentColor;
		}
	}
	input {
		display: none;
		&:enabled + .sub-box {
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				// opacity: 20%;
				width: 0%;
				height: 0%;
				z-index: -1;
				border-radius: 1000px;
			}
		}
		@media (pointer: fine) {
			&:hover:enabled + .sub-box {
				&::after {
					width: 220%;
					height: 220%;
				}
			}
		}
		&:checked + .sub-box {
			// transition: all .3s;
			&::after {
				animation: checkanimate 0.4s;
			}
		}
		&:disabled {
			& ~ * {
				cursor: no-drop;
			}
		}
	}
	&.opt-sm {
		.sub-box {
			width: 18px;
			height: 18px;
		}
	}
	&.opt-md {
		.sub-box {
			width: 20px;
			height: 20px;
		}
	}
	&.opt-lg {
		.sub-box {
			width: 22px;
			height: 22px;
		}
	}
	&.opt-em {
		.sub-box {
			width: 1.46em;
			height: 1.46em;
		}
	}
	&.opt-block {
		display: block;
	}
}

.mnrf-radio {
	@extend .mnrf-checkbox;
	.sub-box {
		border-radius: 1000px;
		padding: 3px;
		.sub-check {
			border-radius: 1000px;
			width: 100%;
			background-color: currentColor;
		}
	}
}

@keyframes checkanimate {
	from {
		opacity: 1;
		width: 0;
		height: 0;
	}
	to {
		opacity: 0.7;
		width: 220%;
		height: 220%;
	}
}

$colors: (
	"main": "lightBlue",
	"red": "red",
	"yellow": "yellow",
	"green": "emerald",
);

@each $name, $color in ($colors) {
	$className: ".mnrf-checkbox.color-#{$name}";
	@if $name == "main" {
		$className: ".mnrf-checkbox";
	}
	#{$className} {
		.sub-box {
			@extend %tw-border-#{$color}-400;
			.sub-check {
				@extend %tw-text-#{$color}-100;
			}
		}
		input {
			@media (pointer: fine) {
				&:hover:enabled + .sub-box {
					// @extend %tw-border-#{$color}-500;
					border-color: map-get(map-get($tw_colors, #{$color}), 500);
					.sub-check {
						// @extend %tw-fill-#{$color}-300;
						color: map-get(map-get($tw_colors, #{$color}), 300);
					}
				}
			}
			&:enabled + .sub-box {
				&::after {
					// @extend %tw-bg-#{$color}-500;
					background-color: rgba(
						$color: map-get(map-get($tw_colors, #{$color}), 500),
						$alpha: 0.5
					);
				}
			}
			&:checked:enabled + .sub-box {
				@extend %tw-border-#{$color}-600;
				@extend %tw-bg-#{$color}-300;
				.sub-check {
					@extend %tw-text-#{$color}-600;
				}
			}
			&:disabled {
				& + .sub-box {
					@extend %tw-border-#{$color}-200;
					.sub-check {
						@extend %tw-text-#{$color}-100;
					}
				}
				&:checked + .sub-box {
					@extend %tw-bg-#{$color}-100;
					// @extend %tw-border-#{$color}-200;
					.sub-check {
						@extend %tw-text-#{$color}-400;
					}
				}
			}
		}
	}
}
