// @use 'extends';
// @import "../../color";

.mnrf-check-slider {
	@extend %chek_and_radio_main_body;

	.sub-box {
		@extend %check_and_radio_box;
		border-color: map-get($main-color, 400);
		color: map-get($main-color, 400);
		border-radius: 1000px;
		width: 35px;
		padding: 1px;

		.sub-check {
			display: block;
			border-radius: 1000px;
			position: relative;
			left: 1px;
			width: 55%;
			padding-top: 55%;
			background-color: currentColor;
			transition: all 0.3s;

			&::before {
				@extend %check_and_radio_before;
				background-color: rgba(map-get($main-color, 500), 0.5);
			}
		}
	}

	input {
		@extend %chek_and_radio_input_hide;
		&:focus + .sub-box {
			.sub-check {
				&::before {
					width: 210%;
					height: 210%;
				}
			}
		}

		@media (pointer: fine) {
			&:hover:enabled {
				& + .sub-box{
					.sub-check {
						&::before {
							
							width: 210%;
							height: 210%;
						}
					}
				}
			}
		}

		&:checked {
			& + .sub-box {
				border-color: currentColor;
				background-color: map-get($main-color, 300) !important;
				color: map-get($main-color, 600) !important;
				.sub-check {
					left: calc(45% - 1px);

					// color: inherit;
					&::before {
						animation: sliderCheckAnimate 0.4s;
					}
				}
			}
		}

		&:disabled {
			// & + .sub-box {
			// 	background-color: white;
			// }
			& ~ *,
			& ~ * * {
				cursor: no-drop;
				opacity: 0.5;
			}
		}
	}

	&.opt-sm {
		.sub-box {
			width: 31.5px;
		}
	}

	&.opt-md {
		.sub-box {
			width: 35px;
		}
	}

	&.opt-lg {
		.sub-box {
			width: 38.5px;
		}
	}

	&.opt-em {
		.sub-box {
			width: 2.555em;
		}
	}

	&.opt-block {
		display: block;
	}
}

.mnrf-radio-slider {
	@extend .mnrf-check-slider;

	.sub-box {
		.sub-check {
			border-width: 4px;
			border-style: solid;
			box-sizing: border-box;
			padding-top: calc(55% - 8px);
			background-color: rgba(0, 0, 0, 0);
		}
	}

	input {
		//     display: none;
		@media (pointer: fine) {
			&:hover:enabled {
				& + .sub-box {
					.sub-check {
						&::before {
							width: 420%;
							height: 420%;
						}
					}
				}
			}
		}
		&:hover:enabled:checked + .sub-box .sub-check {
			&::before {
				width: 0;
				height: 0;
			}
		}
		&:checked {
			& + .sub-box {
				.sub-check {
					&::before {
						animation: sliderRadioAnimate 0.4s;
					}
				}
			}
		}
	}
}

@keyframes sliderCheckAnimate {
	from {
		opacity: 1;
		width: 0;
		height: 0;
	}

	to {
		opacity: 0.7;
		width: 220%;
		height: 220%;
		z-index: 1;
	}
}

@keyframes sliderRadioAnimate {
	from {
		opacity: 1;
		width: 0;
		height: 0;
	}

	to {
		opacity: 0.7;
		width: 440%;
		height: 440%;
		z-index: 1;
	}
}

@each $name, $color in ($colors) {
	$className: ".mnrf-check-slider.color-#{$name}";

	#{$className} {
		.sub-box {
			border-color: map-get($color, 400);
			color: map-get($color, 400);
		}

		input {
			& + .sub-box {
				.sub-check {
					&::before {
						background-color: rgba(map-get($color, 500), 0.5);
					}
				}
			}

			&:checked {
				& + .sub-box {
					background-color: map-get($color, 300) !important;
					color: map-get($color, 600) !important;
				}
			}
		}
	}
}
