// @use 'extends';
// @import "../../color";

.mnrf-check-slider {

	&,
	& * {
		cursor: pointer;
	}

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);


	.sub-box {
		z-index: 3;
		margin: 2px;
		background-color: white;
		border-width: 2px;
		border-style: solid;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		box-sizing: border-box;
		border-radius: 1000px;
		width: 35px;
		transition: all 0.3s;
		padding: 1px;

		.sub-check {
			display: block;
			border-radius: 1000px;
			position: relative;
			left: 1px;
			width: 55%;
			padding-top: 55%;
			background-color: currentColor;
			transition: all 0.3s;

			&::before {
				transition: all .3s;
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				// opacity: 20%;
				width: 0%;
				height: 0%;
				z-index: -1;
				border-radius: 1000px;
			}
		}
	}

	input {
		display: none;

		@media (pointer: fine) {
			&:hover:enabled+.sub-box {
				.sub-check {
					&::before {
						width: 210%;
						height: 210%;
					}
				}
			}
		}

		&:checked {
			&+.sub-box {
				border-color: currentColor;

				.sub-check {
					left: calc(45% - 1px);

					// color: inherit;
					&::before {
						animation: sliderCheckAnimate 0.4s;
					}
				}
			}
		}

		&:disabled {

			// & + .sub-box {
			// 	background-color: white;
			// }
			&~* {
				cursor: no-drop;
				opacity: 0.5;
			}
		}
	}

	&.opt-sm {
		.sub-box {
			width: 31.5px;
		}
	}

	&.opt-md {
		.sub-box {
			width: 35px;
		}
	}

	&.opt-lg {
		.sub-box {
			width: 38.5px;
		}
	}

	&.opt-em {
		.sub-box {
			width: 2.555em;
		}
	}

	&.opt-block {
		display: block;
	}
}

.mnrf-radio-slider {
	@extend .mnrf-check-slider;

	.sub-box {
		.sub-check {
			border-width: 4px;
			border-style: solid;
			box-sizing: border-box;
			padding-top: calc(55% - 8px);
			background-color: rgba(0, 0, 0, 0);
		}
	}

	input {

		//     display: none;
		@media (pointer: fine) {
			&:hover:enabled+.sub-box {
				.sub-check {
					&::before {
						width: 420%;
						height: 420%;
					}
				}
			}
		}
		&:hover:enabled:checked + .sub-box .sub-check {
			&::before {
				width: 0;
				height: 0;
			}
		}
		&:checked {
			&+.sub-box {
				.sub-check {

					&::before {
						animation: sliderRadioAnimate 0.4s;
					}
				}
			}
		}
	}
}

@keyframes sliderCheckAnimate {
	from {
		opacity: 1;
		width: 0;
		height: 0;
	}

	to {
		opacity: 0.7;
		width: 220%;
		height: 220%;
	}
}

@keyframes sliderRadioAnimate {
	from {
		opacity: 1;
		width: 0;
		height: 0;
	}

	to {
		opacity: 0.7;
		width: 440%;
		height: 440%;
	}
}

$colors: ("main": "lightBlue",
	"red": "red",
	"yellow": "yellow",
	"green": "emerald",
);

@each $name,
$color in ($colors) {
	$className: ".mnrf-check-slider.color-#{$name}";

	@if $name=="main" {
		$className: ".mnrf-check-slider";
	}

	#{$className} {
		.sub-box {
			border-color: map-get(map-get($tw_colors, #{$color}), 400);
			color: map-get(map-get($tw_colors, #{$color}), 400);
		}

		input {
			@media (pointer: fine) {
				&:not(:checked):hover:enabled+.sub-box {
					background-color: map-get(map-get($tw_colors, #{$color}),
						100);
					color: map-get(map-get($tw_colors, #{$color}), 500);
				}
			}

			&+.sub-box {
				.sub-check {
					&::before {
						background-color: rgba($color: map-get(map-get($tw_colors, #{$color}), 500),
							$alpha: 0.5);
					}
				}
			}

			&:checked {
				&,
				&:enabled {
					&+.sub-box {
						background-color: map-get(map-get($tw_colors, #{$color}),
							300) !important;
						color: map-get(map-get($tw_colors, #{$color}), 600) !important;
					}
				}
			}
		}
	}
}