@use "sass:map";

$colors: map.set($colors, "dark", $tw_blueGray);


.mnrf-btn {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	&,
	& *:not(svg),
	& *::after,
	& *::before {
		transition: all 0.3s;
	}

	display: inline-flex;
	align-items: center;
	position: relative;
	z-index: 1;
	.sub-btn {
		outline: none;
		background-color: map-get($main-color, 500);
		text-decoration: none;
		border: none;
		color: $tw-blueGray-50;
		display: inline-flex;
		cursor: pointer;
		padding: 0.5em;
		line-height: normal;
		align-items: center;
		justify-content: center;
		// border-radius: 2px;
		&:first-child {
			// border-radius: 2px 0 0 2px;
			border-bottom-left-radius: 2px;
			border-top-left-radius: 2px;
		}
		&:last-child {
			border-bottom-right-radius: 2px;
			border-top-right-radius: 2px;
		}
		position: relative;
		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			background-color: rgba(map-get($main-color, 500), 0.5);
			z-index: -1;
			border-radius: 3px;
		}
		&::after {
			background-color: rgba(map-get($main-color, 500), 1);
			transition: all 0.6s;
			width: calc(100% + 2em);
			height: calc(100% + 2em);
			opacity: 0;
		}
		&:focus {
			// background-color: $tw-lightBlue-500;
			&::before {
				width: calc(100% + 0.5em);
				height: calc(100% + 0.5em);
			}
		}
		@media (pointer: fine) {
			&:hover {
				background-color: map-get($main-color, 600);
				&::before {
					width: calc(100% + 0.5em);
					height: calc(100% + 0.5em);
				}
			}
		}
		&:active {
			background-color: map-get($main-color, 700);
			&::before {
				width: 0;
				height: 0;
			}
			&::after {
				// animation: btnClickAnimate .5s;
				width: 100%;
				height: 100%;
				opacity: 1;
				transition: 0s;
			}
		}
		&:disabled {
			opacity: 0.6;
			cursor: no-drop;
		}
	}
	&.opt-rtl {
		.sub-btn {
			border-radius: 0;
			&:last-child {
				border-bottom-left-radius: 2px;
				border-top-left-radius: 2px;
			}
			&:first-child {
				border-bottom-right-radius: 2px;
				border-top-right-radius: 2px;
			}
		}
	}
	&.opt-block {
		// width: 100%;
		display: flex;
		.sub-btn {
			display: flex;
			width: 100%;
		}
	}
}

@each $name, $color in ($colors) {
	$className: ".mnrf-btn.color-#{$name}";
	@if $name == "main" {
		$className: ".mnrf-btn";
	}
	#{$className} {
		.sub-btn {
			background-color: map-get($color, 500);
			&::before,
			&::after {
				background-color: rgba(map-get($color, 500), 0.5);
			}
			&::after {
				background-color: rgba(map-get($color, 500), 1);
			}
			@media (pointer: fine) {
				&:hover {
					background-color: map-get($color, 600);
				}
			}
			&:active {
				background-color: map-get($color, 700);
			}
		}
	}
}
