.mnrf-textarea{
	@extend .mnrf-input;
	
	textarea{
		width: 100%;
		max-width: 100%;
		display: block;
		min-width: 100%;
		min-height: 5em;
		box-sizing: border-box;
		outline: none;
		border: none;
		padding: .5em;
		background-color: white;
	}
	
	.sub-header{
		line-height: normal !important;
	}
}

.mnrf-mob-wrap{
	.mnrf-textarea{
		height: 100%;
		.sub-frame{
			height: 100%;
			textarea{
				padding-bottom: 100px;
				margin-bottom: 50px;
				height: 100%;
				resize: none;
			}
		}
	}
}