.mnrf-radio-key, .mnrf-check-slider, .mnrf-radio-slider, .mnrf-checkbox, .mnrf-radio {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  white-space: nowrap;
}
.mnrf-radio-key, .mnrf-check-slider, .mnrf-radio-slider, .mnrf-checkbox, .mnrf-radio, .mnrf-radio-key *, .mnrf-check-slider *, .mnrf-radio-slider *, .mnrf-checkbox *, .mnrf-radio * {
  cursor: pointer;
}

.mnrf-check-slider .sub-box, .mnrf-radio-slider .sub-box, .mnrf-checkbox .sub-box, .mnrf-radio .sub-box {
  z-index: 3;
  margin: 2px;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  transition: all 0.3s;
}

.mnrf-check-slider .sub-box .sub-check::before, .mnrf-radio-slider .sub-box .sub-check::before, .mnrf-checkbox .sub-box::before, .mnrf-radio .sub-box::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  z-index: -1;
  border-radius: 1000px;
  transition: all 0.3s;
}

.mnrf-radio-key input, .mnrf-check-slider input, .mnrf-radio-slider input, .mnrf-checkbox input, .mnrf-radio input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.mnrf-nosroll {
  overflow: hidden;
}

.mnrf-checkbox .sub-box, .mnrf-radio .sub-box {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border-color: #38BDF8;
  color: #E0F2FE;
}
.mnrf-checkbox .sub-box .sub-check, .mnrf-radio .sub-box .sub-check {
  height: 100%;
  display: block;
  fill: currentColor;
}
.mnrf-checkbox input + .sub-box::before, .mnrf-radio input + .sub-box::before {
  background-color: rgba(14, 165, 233, 0.5);
}
.mnrf-checkbox input:focus + .sub-box::before, .mnrf-radio input:focus + .sub-box::before {
  width: 220%;
  height: 220%;
}
@media (pointer: fine) {
  .mnrf-checkbox input:hover:enabled + .sub-box::before, .mnrf-radio input:hover:enabled + .sub-box::before {
    width: 220%;
    height: 220%;
  }
}
.mnrf-checkbox input:checked + .sub-box, .mnrf-radio input:checked + .sub-box {
  background-color: #7DD3FC !important;
  color: #0284C7 !important;
  border-color: currentColor;
}
.mnrf-checkbox input:checked + .sub-box::before, .mnrf-radio input:checked + .sub-box::before {
  animation: checkanimate 0.4s;
}
.mnrf-checkbox input:disabled ~ *, .mnrf-radio input:disabled ~ *, .mnrf-checkbox input:disabled ~ * *, .mnrf-radio input:disabled ~ * * {
  cursor: no-drop;
  opacity: 0.5;
}
.mnrf-checkbox.opt-sm .sub-box, .opt-sm.mnrf-radio .sub-box {
  width: 18px;
  height: 18px;
}
.mnrf-checkbox.opt-md .sub-box, .opt-md.mnrf-radio .sub-box {
  width: 20px;
  height: 20px;
}
.mnrf-checkbox.opt-lg .sub-box, .opt-lg.mnrf-radio .sub-box {
  width: 22px;
  height: 22px;
}
.mnrf-checkbox.opt-em .sub-box, .opt-em.mnrf-radio .sub-box {
  width: 1.46em;
  height: 1.46em;
}
.mnrf-checkbox.opt-block, .opt-block.mnrf-radio {
  display: block;
}

.mnrf-radio .sub-box {
  border-radius: 1000px;
  padding: 3px;
}
.mnrf-radio .sub-box .sub-check {
  border-radius: 1000px;
  width: 100%;
  background-color: currentColor;
}
.mnrf-radio input:hover:enabled:checked + .sub-box::before {
  width: 0;
  height: 0;
}

@keyframes checkanimate {
  from {
    opacity: 1;
    width: 0;
    height: 0;
  }
  to {
    opacity: 0.7;
    width: 220%;
    height: 220%;
    z-index: 1;
  }
}
.mnrf-checkbox.color-red .sub-box, .color-red.mnrf-radio .sub-box {
  border-color: #F87171;
  color: #FEE2E2;
}
.mnrf-checkbox.color-red input + .sub-box::before, .color-red.mnrf-radio input + .sub-box::before {
  background-color: rgba(239, 68, 68, 0.5);
}
.mnrf-checkbox.color-red input:checked + .sub-box, .color-red.mnrf-radio input:checked + .sub-box {
  background-color: #FCA5A5 !important;
  color: #DC2626 !important;
}

.mnrf-checkbox.color-yellow .sub-box, .color-yellow.mnrf-radio .sub-box {
  border-color: #FACC15;
  color: #FEF9C3;
}
.mnrf-checkbox.color-yellow input + .sub-box::before, .color-yellow.mnrf-radio input + .sub-box::before {
  background-color: rgba(234, 179, 8, 0.5);
}
.mnrf-checkbox.color-yellow input:checked + .sub-box, .color-yellow.mnrf-radio input:checked + .sub-box {
  background-color: #FDE047 !important;
  color: #CA8A04 !important;
}

.mnrf-checkbox.color-green .sub-box, .color-green.mnrf-radio .sub-box {
  border-color: #34D399;
  color: #D1FAE5;
}
.mnrf-checkbox.color-green input + .sub-box::before, .color-green.mnrf-radio input + .sub-box::before {
  background-color: rgba(16, 185, 129, 0.5);
}
.mnrf-checkbox.color-green input:checked + .sub-box, .color-green.mnrf-radio input:checked + .sub-box {
  background-color: #6EE7B7 !important;
  color: #059669 !important;
}

.mnrf-check-slider .sub-box, .mnrf-radio-slider .sub-box {
  border-color: #38BDF8;
  color: #38BDF8;
  border-radius: 1000px;
  width: 35px;
  padding: 1px;
}
.mnrf-check-slider .sub-box .sub-check, .mnrf-radio-slider .sub-box .sub-check {
  display: block;
  border-radius: 1000px;
  position: relative;
  left: 1px;
  width: 55%;
  padding-top: 55%;
  background-color: currentColor;
  transition: all 0.3s;
}
.mnrf-check-slider .sub-box .sub-check::before, .mnrf-radio-slider .sub-box .sub-check::before {
  background-color: rgba(14, 165, 233, 0.5);
}
.mnrf-check-slider input:focus + .sub-box .sub-check::before, .mnrf-radio-slider input:focus + .sub-box .sub-check::before {
  width: 210%;
  height: 210%;
}
@media (pointer: fine) {
  .mnrf-check-slider input:hover:enabled + .sub-box .sub-check::before, .mnrf-radio-slider input:hover:enabled + .sub-box .sub-check::before {
    width: 210%;
    height: 210%;
  }
}
.mnrf-check-slider input:checked + .sub-box, .mnrf-radio-slider input:checked + .sub-box {
  border-color: currentColor;
  background-color: #7DD3FC !important;
  color: #0284C7 !important;
}
.mnrf-check-slider input:checked + .sub-box .sub-check, .mnrf-radio-slider input:checked + .sub-box .sub-check {
  left: calc(45% - 1px);
}
.mnrf-check-slider input:checked + .sub-box .sub-check::before, .mnrf-radio-slider input:checked + .sub-box .sub-check::before {
  animation: sliderCheckAnimate 0.4s;
}
.mnrf-check-slider input:disabled ~ *, .mnrf-radio-slider input:disabled ~ *, .mnrf-check-slider input:disabled ~ * *, .mnrf-radio-slider input:disabled ~ * * {
  cursor: no-drop;
  opacity: 0.5;
}
.mnrf-check-slider.opt-sm .sub-box, .opt-sm.mnrf-radio-slider .sub-box {
  width: 31.5px;
}
.mnrf-check-slider.opt-md .sub-box, .opt-md.mnrf-radio-slider .sub-box {
  width: 35px;
}
.mnrf-check-slider.opt-lg .sub-box, .opt-lg.mnrf-radio-slider .sub-box {
  width: 38.5px;
}
.mnrf-check-slider.opt-em .sub-box, .opt-em.mnrf-radio-slider .sub-box {
  width: 2.555em;
}
.mnrf-check-slider.opt-block, .opt-block.mnrf-radio-slider {
  display: block;
}

.mnrf-radio-slider .sub-box .sub-check {
  border-width: 4px;
  border-style: solid;
  box-sizing: border-box;
  padding-top: calc(55% - 8px);
  background-color: rgba(0, 0, 0, 0);
}
@media (pointer: fine) {
  .mnrf-radio-slider input:hover:enabled + .sub-box .sub-check::before {
    width: 420%;
    height: 420%;
  }
}
.mnrf-radio-slider input:hover:enabled:checked + .sub-box .sub-check::before {
  width: 0;
  height: 0;
}
.mnrf-radio-slider input:checked + .sub-box .sub-check::before {
  animation: sliderRadioAnimate 0.4s;
}

@keyframes sliderCheckAnimate {
  from {
    opacity: 1;
    width: 0;
    height: 0;
  }
  to {
    opacity: 0.7;
    width: 220%;
    height: 220%;
    z-index: 1;
  }
}
@keyframes sliderRadioAnimate {
  from {
    opacity: 1;
    width: 0;
    height: 0;
  }
  to {
    opacity: 0.7;
    width: 440%;
    height: 440%;
    z-index: 1;
  }
}
.mnrf-check-slider.color-red .sub-box, .color-red.mnrf-radio-slider .sub-box {
  border-color: #F87171;
  color: #F87171;
}
.mnrf-check-slider.color-red input + .sub-box .sub-check::before, .color-red.mnrf-radio-slider input + .sub-box .sub-check::before {
  background-color: rgba(239, 68, 68, 0.5);
}
.mnrf-check-slider.color-red input:checked + .sub-box, .color-red.mnrf-radio-slider input:checked + .sub-box {
  background-color: #FCA5A5 !important;
  color: #DC2626 !important;
}

.mnrf-check-slider.color-yellow .sub-box, .color-yellow.mnrf-radio-slider .sub-box {
  border-color: #FACC15;
  color: #FACC15;
}
.mnrf-check-slider.color-yellow input + .sub-box .sub-check::before, .color-yellow.mnrf-radio-slider input + .sub-box .sub-check::before {
  background-color: rgba(234, 179, 8, 0.5);
}
.mnrf-check-slider.color-yellow input:checked + .sub-box, .color-yellow.mnrf-radio-slider input:checked + .sub-box {
  background-color: #FDE047 !important;
  color: #CA8A04 !important;
}

.mnrf-check-slider.color-green .sub-box, .color-green.mnrf-radio-slider .sub-box {
  border-color: #34D399;
  color: #34D399;
}
.mnrf-check-slider.color-green input + .sub-box .sub-check::before, .color-green.mnrf-radio-slider input + .sub-box .sub-check::before {
  background-color: rgba(16, 185, 129, 0.5);
}
.mnrf-check-slider.color-green input:checked + .sub-box, .color-green.mnrf-radio-slider input:checked + .sub-box {
  background-color: #6EE7B7 !important;
  color: #059669 !important;
}

.mnrf-radio-key {
  background-color: #38BDF8;
  border-radius: 1000px;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  height: 2.5em;
  padding: 0.3em 0 0.3em 0.3em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.mnrf-radio-key label {
  display: inline-flex;
  height: 100%;
}
.mnrf-radio-key .sub-check {
  background-color: #7DD3FC;
  color: #0284C7;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em 0.6em;
  margin: 0 0.3em 0 0;
  height: 100%;
  box-sizing: border-box;
  border-radius: 1000px;
}
.mnrf-radio-key input:hover:enabled + .sub-check, .mnrf-radio-key input:focus + .sub-check {
  background-color: #0EA5E9;
  color: #E0F2FE;
}
.mnrf-radio-key input:checked + .sub-check {
  background-color: #0284C7 !important;
  color: #E0F2FE !important;
}
.mnrf-radio-key input:disabled + .sub-check {
  cursor: no-drop;
  opacity: 0.5;
}
.mnrf-radio-key.opt-sm {
  height: 2em;
  padding: 0.23em 0 0.23em 0.23em;
}
.mnrf-radio-key.opt-sm .sub-check {
  padding: 0.25em 0.5em;
  margin: 0 0.23em 0 0;
}
.mnrf-radio-key.opt-md {
  height: 2.5em;
  padding: 0.3em 0 0.3em 0.3em;
}
.mnrf-radio-key.opt-md .sub-check {
  padding: 0.3em 0.6em;
  margin: 0 0.3em 0 0;
}
.mnrf-radio-key.opt-lg {
  height: 3em;
  padding: 0.4em 0 0.4em 0.4em;
}
.mnrf-radio-key.opt-lg .sub-check {
  padding: 0.4em 0.7em;
  margin: 0 0.4em 0 0;
}
.mnrf-radio-key.opt-fh {
  height: 100%;
}

.mnrf-radio-key.color-red {
  background-color: #F87171;
}
.mnrf-radio-key.color-red .sub-check {
  background-color: #FCA5A5;
  color: #DC2626;
}
.mnrf-radio-key.color-red input:hover:enabled + .sub-check, .mnrf-radio-key.color-red input:focus + .sub-check {
  background-color: #EF4444;
  color: #FEE2E2;
}
.mnrf-radio-key.color-red input:checked + .sub-check {
  background-color: #DC2626 !important;
  color: #FEE2E2 !important;
}

.mnrf-radio-key.color-yellow {
  background-color: #FACC15;
}
.mnrf-radio-key.color-yellow .sub-check {
  background-color: #FDE047;
  color: #CA8A04;
}
.mnrf-radio-key.color-yellow input:hover:enabled + .sub-check, .mnrf-radio-key.color-yellow input:focus + .sub-check {
  background-color: #EAB308;
  color: #FEF9C3;
}
.mnrf-radio-key.color-yellow input:checked + .sub-check {
  background-color: #CA8A04 !important;
  color: #FEF9C3 !important;
}

.mnrf-radio-key.color-green {
  background-color: #34D399;
}
.mnrf-radio-key.color-green .sub-check {
  background-color: #6EE7B7;
  color: #059669;
}
.mnrf-radio-key.color-green input:hover:enabled + .sub-check, .mnrf-radio-key.color-green input:focus + .sub-check {
  background-color: #10B981;
  color: #D1FAE5;
}
.mnrf-radio-key.color-green input:checked + .sub-check {
  background-color: #059669 !important;
  color: #D1FAE5 !important;
}