.mnrf-radio-key, .mnrf-radio-key label {
  border-radius: 1000px;
}

.mnrf-radio-key, .mnrf-radio-key *:not(svg) > * > *, .mnrf-radio-key *::after, .mnrf-radio-key *::before {
  transition: all 0.3s;
}

.mnrf-radio-key, .mnrf-radio-key * {
  cursor: pointer;
}

.mnrf-radio-key input:disabled + label {
  cursor: no-drop;
}

.mnrf-radio-key input {
  display: none;
}

.mnrf-radio-key.color-red input:checked:enabled + label, .mnrf-radio-key.color-red input:hover:enabled + label {
  color: #FEE2E2;
}

.mnrf-radio-key.color-red input:disabled + label {
  background-color: #FECACA;
}

.mnrf-radio-key.color-red label {
  background-color: #FCA5A5;
}

.mnrf-radio-key.color-red input:disabled + label {
  color: #FCA5A5;
}

.mnrf-radio-key.color-red {
  background-color: #F87171;
}

.mnrf-radio-key.color-red input:disabled:checked + label, .mnrf-radio-key.color-red input:hover:enabled + label {
  background-color: #EF4444;
}

.mnrf-radio-key.color-red input:checked:enabled + label {
  background-color: #DC2626;
}

.mnrf-radio-key.color-red input:disabled:checked + label, .mnrf-radio-key.color-red label {
  color: #DC2626;
}

.mnrf-radio-key.color-yellow input:checked:enabled + label, .mnrf-radio-key.color-yellow input:hover:enabled + label {
  color: #FEF9C3;
}

.mnrf-radio-key.color-yellow input:disabled + label {
  background-color: #FEF08A;
}

.mnrf-radio-key.color-yellow label {
  background-color: #FDE047;
}

.mnrf-radio-key.color-yellow input:disabled + label {
  color: #FDE047;
}

.mnrf-radio-key.color-yellow {
  background-color: #FACC15;
}

.mnrf-radio-key.color-yellow input:disabled:checked + label, .mnrf-radio-key.color-yellow input:hover:enabled + label {
  background-color: #EAB308;
}

.mnrf-radio-key.color-yellow input:checked:enabled + label {
  background-color: #CA8A04;
}

.mnrf-radio-key.color-yellow input:disabled:checked + label, .mnrf-radio-key.color-yellow label {
  color: #CA8A04;
}

.mnrf-radio-key.color-green input:checked:enabled + label, .mnrf-radio-key.color-green input:hover:enabled + label {
  color: #D1FAE5;
}

.mnrf-radio-key.color-green input:disabled + label {
  background-color: #A7F3D0;
}

.mnrf-radio-key.color-green label {
  background-color: #6EE7B7;
}

.mnrf-radio-key.color-green input:disabled + label {
  color: #6EE7B7;
}

.mnrf-radio-key.color-green {
  background-color: #34D399;
}

.mnrf-radio-key.color-green input:disabled:checked + label, .mnrf-radio-key.color-green input:hover:enabled + label {
  background-color: #10B981;
}

.mnrf-radio-key.color-green input:checked:enabled + label {
  background-color: #059669;
}

.mnrf-radio-key.color-green input:disabled:checked + label, .mnrf-radio-key.color-green label {
  color: #059669;
}

.mnrf-radio-key input:checked:enabled + label, .mnrf-radio-key input:hover:enabled + label {
  color: #E0F2FE;
}

.mnrf-radio-key input:disabled + label {
  background-color: #BAE6FD;
}

.mnrf-radio-key label {
  background-color: #7DD3FC;
}

.mnrf-radio-key input:disabled + label {
  color: #7DD3FC;
}

.mnrf-radio-key {
  background-color: #38BDF8;
}

.mnrf-radio-key input:disabled:checked + label, .mnrf-radio-key input:hover:enabled + label {
  background-color: #0EA5E9;
}

.mnrf-radio-key input:checked:enabled + label {
  background-color: #0284C7;
}

.mnrf-radio-key input:disabled:checked + label, .mnrf-radio-key label {
  color: #0284C7;
}

.mnrf-radio-key {
  margin: 0.1em;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  height: 2.5em;
  padding: 0.3em 0 0.3em 0.3em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.mnrf-radio-key label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em 0.6em;
  margin: 0 0.3em 0 0;
  height: 100%;
  box-sizing: border-box;
}
.mnrf-radio-key.opt-sm {
  height: 2em;
  padding: 0.23em 0 0.23em 0.23em;
}
.mnrf-radio-key.opt-sm label {
  padding: 0.25em 0.5em;
  margin: 0 0.23em 0 0;
}
.mnrf-radio-key.opt-md {
  height: 2.5em;
  padding: 0.3em 0 0.3em 0.3em;
}
.mnrf-radio-key.opt-md label {
  padding: 0.3em 0.6em;
  margin: 0 0.3em 0 0;
}
.mnrf-radio-key.opt-lg {
  height: 3em;
  padding: 0.4em 0 0.4em 0.4em;
}
.mnrf-radio-key.opt-lg label {
  padding: 0.4em 0.7em;
  margin: 0 0.4em 0 0;
}
.mnrf-radio-key.opt-fh {
  height: 100%;
}