.mnrf-checkbox.color-red input:disabled:checked + .sub-box, .color-red.mnrf-radio input:disabled:checked + .sub-box {
  background-color: #FEE2E2;
}

.mnrf-checkbox.color-red input:disabled + .sub-box .sub-check, .color-red.mnrf-radio input:disabled + .sub-box .sub-check, .mnrf-checkbox.color-red .sub-box .sub-check, .color-red.mnrf-radio .sub-box .sub-check {
  color: #FEE2E2;
}

.mnrf-checkbox.color-red input:disabled + .sub-box, .color-red.mnrf-radio input:disabled + .sub-box {
  border-color: #FECACA;
}

.mnrf-checkbox.color-red input:checked:enabled + .sub-box, .color-red.mnrf-radio input:checked:enabled + .sub-box {
  background-color: #FCA5A5;
}

.mnrf-checkbox.color-red .sub-box, .color-red.mnrf-radio .sub-box {
  border-color: #F87171;
}

.mnrf-checkbox.color-red input:disabled:checked + .sub-box .sub-check, .color-red.mnrf-radio input:disabled:checked + .sub-box .sub-check {
  color: #F87171;
}

.mnrf-checkbox.color-red input:checked:enabled + .sub-box, .color-red.mnrf-radio input:checked:enabled + .sub-box {
  border-color: #DC2626;
}

.mnrf-checkbox.color-red input:checked:enabled + .sub-box .sub-check, .color-red.mnrf-radio input:checked:enabled + .sub-box .sub-check {
  color: #DC2626;
}

.mnrf-checkbox.color-yellow input:disabled:checked + .sub-box, .color-yellow.mnrf-radio input:disabled:checked + .sub-box {
  background-color: #FEF9C3;
}

.mnrf-checkbox.color-yellow input:disabled + .sub-box .sub-check, .color-yellow.mnrf-radio input:disabled + .sub-box .sub-check, .mnrf-checkbox.color-yellow .sub-box .sub-check, .color-yellow.mnrf-radio .sub-box .sub-check {
  color: #FEF9C3;
}

.mnrf-checkbox.color-yellow input:disabled + .sub-box, .color-yellow.mnrf-radio input:disabled + .sub-box {
  border-color: #FEF08A;
}

.mnrf-checkbox.color-yellow input:checked:enabled + .sub-box, .color-yellow.mnrf-radio input:checked:enabled + .sub-box {
  background-color: #FDE047;
}

.mnrf-checkbox.color-yellow .sub-box, .color-yellow.mnrf-radio .sub-box {
  border-color: #FACC15;
}

.mnrf-checkbox.color-yellow input:disabled:checked + .sub-box .sub-check, .color-yellow.mnrf-radio input:disabled:checked + .sub-box .sub-check {
  color: #FACC15;
}

.mnrf-checkbox.color-yellow input:checked:enabled + .sub-box, .color-yellow.mnrf-radio input:checked:enabled + .sub-box {
  border-color: #CA8A04;
}

.mnrf-checkbox.color-yellow input:checked:enabled + .sub-box .sub-check, .color-yellow.mnrf-radio input:checked:enabled + .sub-box .sub-check {
  color: #CA8A04;
}

.mnrf-checkbox.color-green input:disabled:checked + .sub-box, .color-green.mnrf-radio input:disabled:checked + .sub-box {
  background-color: #D1FAE5;
}

.mnrf-checkbox.color-green input:disabled + .sub-box .sub-check, .color-green.mnrf-radio input:disabled + .sub-box .sub-check, .mnrf-checkbox.color-green .sub-box .sub-check, .color-green.mnrf-radio .sub-box .sub-check {
  color: #D1FAE5;
}

.mnrf-checkbox.color-green input:disabled + .sub-box, .color-green.mnrf-radio input:disabled + .sub-box {
  border-color: #A7F3D0;
}

.mnrf-checkbox.color-green input:checked:enabled + .sub-box, .color-green.mnrf-radio input:checked:enabled + .sub-box {
  background-color: #6EE7B7;
}

.mnrf-checkbox.color-green .sub-box, .color-green.mnrf-radio .sub-box {
  border-color: #34D399;
}

.mnrf-checkbox.color-green input:disabled:checked + .sub-box .sub-check, .color-green.mnrf-radio input:disabled:checked + .sub-box .sub-check {
  color: #34D399;
}

.mnrf-checkbox.color-green input:checked:enabled + .sub-box, .color-green.mnrf-radio input:checked:enabled + .sub-box {
  border-color: #059669;
}

.mnrf-checkbox.color-green input:checked:enabled + .sub-box .sub-check, .color-green.mnrf-radio input:checked:enabled + .sub-box .sub-check {
  color: #059669;
}

.mnrf-checkbox input:disabled:checked + .sub-box, .mnrf-radio input:disabled:checked + .sub-box {
  background-color: #E0F2FE;
}

.mnrf-checkbox input:disabled + .sub-box .sub-check, .mnrf-radio input:disabled + .sub-box .sub-check, .mnrf-checkbox .sub-box .sub-check, .mnrf-radio .sub-box .sub-check {
  color: #E0F2FE;
}

.mnrf-checkbox input:disabled + .sub-box, .mnrf-radio input:disabled + .sub-box {
  border-color: #BAE6FD;
}

.mnrf-checkbox input:checked:enabled + .sub-box, .mnrf-radio input:checked:enabled + .sub-box {
  background-color: #7DD3FC;
}

.mnrf-checkbox .sub-box, .mnrf-radio .sub-box {
  border-color: #38BDF8;
}

.mnrf-checkbox input:disabled:checked + .sub-box .sub-check, .mnrf-radio input:disabled:checked + .sub-box .sub-check {
  color: #38BDF8;
}

.mnrf-checkbox input:checked:enabled + .sub-box, .mnrf-radio input:checked:enabled + .sub-box {
  border-color: #0284C7;
}

.mnrf-checkbox input:checked:enabled + .sub-box .sub-check, .mnrf-radio input:checked:enabled + .sub-box .sub-check {
  color: #0284C7;
}

.mnrf-checkbox, .mnrf-radio {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.mnrf-checkbox, .mnrf-radio, .mnrf-checkbox *, .mnrf-radio * {
  cursor: pointer;
}
.mnrf-checkbox, .mnrf-radio, .mnrf-checkbox *:not(svg) > * > *, .mnrf-radio *:not(svg) > * > *, .mnrf-checkbox *::after, .mnrf-radio *::after, .mnrf-checkbox *::before, .mnrf-radio *::before {
  transition: all 0.3s;
}
.mnrf-checkbox .sub-box, .mnrf-radio .sub-box {
  margin: 2px;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  z-index: 3;
}
.mnrf-checkbox .sub-box .sub-check, .mnrf-radio .sub-box .sub-check {
  height: 100%;
  display: block;
  fill: currentColor;
}
.mnrf-checkbox input, .mnrf-radio input {
  display: none;
}
.mnrf-checkbox input:enabled + .sub-box::after, .mnrf-radio input:enabled + .sub-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  z-index: -1;
  border-radius: 1000px;
}
@media (pointer: fine) {
  .mnrf-checkbox input:hover:enabled + .sub-box::after, .mnrf-radio input:hover:enabled + .sub-box::after {
    width: 220%;
    height: 220%;
  }
}
.mnrf-checkbox input:checked + .sub-box::after, .mnrf-radio input:checked + .sub-box::after {
  animation: checkanimate 0.4s;
}
.mnrf-checkbox input:disabled ~ *, .mnrf-radio input:disabled ~ * {
  cursor: no-drop;
}
.mnrf-checkbox.opt-sm .sub-box, .opt-sm.mnrf-radio .sub-box {
  width: 18px;
  height: 18px;
}
.mnrf-checkbox.opt-md .sub-box, .opt-md.mnrf-radio .sub-box {
  width: 20px;
  height: 20px;
}
.mnrf-checkbox.opt-lg .sub-box, .opt-lg.mnrf-radio .sub-box {
  width: 22px;
  height: 22px;
}
.mnrf-checkbox.opt-em .sub-box, .opt-em.mnrf-radio .sub-box {
  width: 1.46em;
  height: 1.46em;
}
.mnrf-checkbox.opt-block, .opt-block.mnrf-radio {
  display: block;
}

.mnrf-radio .sub-box {
  border-radius: 1000px;
  padding: 3px;
}
.mnrf-radio .sub-box .sub-check {
  border-radius: 1000px;
  width: 100%;
  background-color: currentColor;
}

@keyframes checkanimate {
  from {
    opacity: 1;
    width: 0;
    height: 0;
  }
  to {
    opacity: 0.7;
    width: 220%;
    height: 220%;
  }
}
@media (pointer: fine) {
  .mnrf-checkbox input:hover:enabled + .sub-box, .mnrf-radio input:hover:enabled + .sub-box {
    border-color: #0EA5E9;
  }
  .mnrf-checkbox input:hover:enabled + .sub-box .sub-check, .mnrf-radio input:hover:enabled + .sub-box .sub-check {
    color: #7DD3FC;
  }
}
.mnrf-checkbox input:enabled + .sub-box::after, .mnrf-radio input:enabled + .sub-box::after {
  background-color: rgba(14, 165, 233, 0.5);
}
@media (pointer: fine) {
  .mnrf-checkbox.color-red input:hover:enabled + .sub-box, .color-red.mnrf-radio input:hover:enabled + .sub-box {
    border-color: #EF4444;
  }
  .mnrf-checkbox.color-red input:hover:enabled + .sub-box .sub-check, .color-red.mnrf-radio input:hover:enabled + .sub-box .sub-check {
    color: #FCA5A5;
  }
}
.mnrf-checkbox.color-red input:enabled + .sub-box::after, .color-red.mnrf-radio input:enabled + .sub-box::after {
  background-color: rgba(239, 68, 68, 0.5);
}
@media (pointer: fine) {
  .mnrf-checkbox.color-yellow input:hover:enabled + .sub-box, .color-yellow.mnrf-radio input:hover:enabled + .sub-box {
    border-color: #EAB308;
  }
  .mnrf-checkbox.color-yellow input:hover:enabled + .sub-box .sub-check, .color-yellow.mnrf-radio input:hover:enabled + .sub-box .sub-check {
    color: #FDE047;
  }
}
.mnrf-checkbox.color-yellow input:enabled + .sub-box::after, .color-yellow.mnrf-radio input:enabled + .sub-box::after {
  background-color: rgba(234, 179, 8, 0.5);
}
@media (pointer: fine) {
  .mnrf-checkbox.color-green input:hover:enabled + .sub-box, .color-green.mnrf-radio input:hover:enabled + .sub-box {
    border-color: #10B981;
  }
  .mnrf-checkbox.color-green input:hover:enabled + .sub-box .sub-check, .color-green.mnrf-radio input:hover:enabled + .sub-box .sub-check {
    color: #6EE7B7;
  }
}
.mnrf-checkbox.color-green input:enabled + .sub-box::after, .color-green.mnrf-radio input:enabled + .sub-box::after {
  background-color: rgba(16, 185, 129, 0.5);
}