@import "../../color";

.mnrf-input {
	// display: flex;
	// align-items: center;
	// justify-content: center;
	display: block;
	line-height: 1.6;
	color: $tw-blueGray-700;
	// *{
	// 	height: 100%;
	// 	display: inline;
	// }
	&.opt-bg {
		padding: 5px;
		background-color: rgba($tw-lightBlue-500, 0.1);
	}

	& > .sub-title {
		display: block;
		color: $tw-lightBlue-500;
		font-size: 1.2em;
	}
	& > .sub-info {
		display: block;
		color: $tw-lightBlue-500;
		margin-bottom: 2px;
	}
	& > .sub-hint {
		display: block;
		color: $tw-lightBlue-500;
		margin-top: 2px;
	}
	.sub-frame {
		display: flex;
		background-color: white;
		border-color: $tw-lightBlue-300;
		border-style: solid;
		border-width: 1px;
		border-radius: 2px;
		box-sizing: border-box;
		// overflow: hidden;
		.sub-header {
			display: block;
			line-height: 10px;
			padding: 0.4em 0.5em;
			font-size: 0.9em;
			margin-bottom: -0.6em;
			color: $tw-lightBlue-400;
		}
		.sub-pwst {
			cursor: pointer;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			// display: block;
			// height: 100%;
			// background-color: red;
			// width: 20px;
			svg {
				display: block;
				height: 100%;
				width: 2em;
				padding: 0 0.5em;
				fill: currentColor;
				color: $tw-blueGray-400;
			}
		}
		.sub-toggleData{
			cursor: pointer;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			svg {
				display: block;
				height: 100%;
				width: 2em;
				padding: 0 0.5em;
				fill: currentColor;
				color: $tw-blueGray-400;
			}
			&.state-up{
				svg{
					transform: rotate(180deg);
				}
			}
		}
		.sub-btn {
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			border: none;
			box-sizing: border-box;
			outline: 0;
			text-decoration: none;
			transition: 0.3s;
			background-color: $tw-lightBlue-400;
			color: $tw-blueGray-50;
			cursor: pointer;
			padding: 0 10px;
			display: block;
			height: 100%;
			@media (pointer: fine){
				&:hover{
					background-color: $tw-lightBlue-500;
				}
			}
			&:active{
				background-color: $tw-lightBlue-600;
			}
		}
	}
	
	.sub-data{
		position: absolute;
		display: none;
		width: 100%;
		max-height: 185px;
		overflow-y: auto;
		box-sizing: border-box;
		// background-color: red;
		top: calc(100% + 7px);
		left: 0;
		background-color: white;
		border-color: $tw-blueGray-600;
		box-shadow: 0 0 0 2px rgba($tw-blueGray-500, 0.4);
		border-style: solid;
		border-width: 1px;
		border-radius: 2px;
		padding: 5px 0;
		z-index: 100;
		&.state-show{
			display: block;
		}
		.sub-option{
			display: block;
			cursor: pointer;
			padding: 5px;
			color: $tw-blueGray-400;
			&:hover{
				color: $tw-blueGray-600;
				background-color: $tw-blueGray-100;
			}
			&.state-hide{
				display: none;
			}
		}
		
	}

	.sub-col {
		display: flex;
		flex-direction: column;
		width: 100%;
		position: relative;
		input{
			width: 100%;
		}
	}
	.sub-flex {
		display: flex;
		flex-grow: 1;
		align-items: stretch;
		position: relative;
		input {
			min-width: 1px;
		}
	}

	.sub-icon {
		width: 2em;
		padding: 0 0.5em;
		fill: currentColor;
		color: $tw-lightBlue-400;
	}

	.sub-pr-0 {
		padding-right: 0 !important;
	}
	.sub-pl-0 {
		padding-left: 0 !important;
	}
	
	.sub-pie-0 {
		padding-inline-end: 0 !important;
	}
	.sub-pis-0 {
		padding-inline-start: 0 !important;
	}

	.sub-psfix {
		padding: 0.5em;
		color: $tw-lightBlue-400;
		vertical-align: middle;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	input {
		border: none;
		outline: 0;
		display: block;
		flex-grow: 1;
		// width: -webkit-fill-available;
		margin: 0;
		background-color: rgba(0, 0, 0, 0);
		color: inherit;
		padding: 0.5em;
		cursor: inherit;
		height: 100%;
		box-sizing: border-box;
		&::placeholder {
			color: $tw-blueGray-400;
		}
		// &:focus{
		// 	&+.sub-data{
		// 		display: block;
		// 	}
		// }
	}
	
	.sub-select{
		display: block;
		width: 100%;
		box-sizing: border-box;
		color: $tw-lightBlue-600;
		// input{
		// 	display: none;
		// }
		.sub-toggleData{
			display: flex;
			padding: 0.5em;
			width: 100%;
			box-sizing: border-box;
			.sub-seltext{
				display: block;
				width: 100%;
				line-height: 1.9em;
			}
			svg{
				padding: 0;
				color: inherit;
				fill: currentColor;
			}
		}
		.sub-data{
			.sub-option{
				&::before{
					content: '';
					display: inline-block;
					width: .9em;
					height: .9em;
					margin-inline-end: 6px;
					border-style: solid;
					border-color: currentColor;
					border-width: .25em;
					border-radius: 1000px;
					box-sizing: border-box;
					vertical-align: middle;
				}
				&.state-select{
					background-color: $tw-blueGray-600;
					color: $tw-blueGray-100;
				}
			}
		}
	}

	&.state-hover:not(.state-disable) {
		.sub-frame {
			border-color: $tw-lightBlue-400;
			box-shadow: 0 0 0 2px rgba($tw-lightBlue-500, 0.2);
			input:hover:not(:focus) {
				&::placeholder {
					color: $tw-blueGray-500;
				}
			}
			.sub-header {
				color: $tw-lightBlue-500;
			}
			.sub-icon {
				color: $tw-lightBlue-500;
			}
		}
	}
	&.state-focus:not(.state-disable) {
		& > .sub-hint {
			color: $tw-lightBlue-600;
		}
		& > .sub-title {
			color: $tw-lightBlue-600;
		}
		& > .sub-info {
			color: $tw-lightBlue-600;
		}
		.sub-frame {
			border-color: $tw-lightBlue-600;
			box-shadow: 0 0 0 2px rgba($tw-lightBlue-500, 0.4);
			.sub-header {
				color: $tw-lightBlue-600;
			}
			.sub-icon {
				color: $tw-lightBlue-600;
			}
		}
	}

	&.state-disable {
		opacity: 0.6;
		cursor: no-drop;
		// .sub-frame {
		// 	border-color: $tw-lightBlue-200;
		// 	cursor: no-drop;
		// 	// box-shadow: 0 0 0 2px rgba($tw-lightBlue-500, 0.4);
		// 	input:disabled {
		// 		&::placeholder {
		// 			color: $tw-blueGray-300;
		// 		}
		// 	}
		// 	.sub-header {
		// 		color: $tw-lightBlue-300;
		// 	}
		// 	.sub-icon {
		// 		color: $tw-lightBlue-300;
		// 	}
		// }
	}
	.sub-vhr{
		width: 1px;
        background-color: $tw-blueGray-300;
        margin: .4em .5px;
	}
}

.mnrf-mob-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba($tw-blueGray-900, $alpha: .5);
	padding: 5px;
	box-sizing: border-box;
	z-index: 1000;
	
	.sub-wrap{
		display: block;
		width: 100%;
		height: 100%;
		// padding: 5px;
		background-color: white;
		// border-radius: 5px;
		overflow: hidden;
		box-sizing: border-box;
		position: relative;
		transition: 0.3s;
		button{
			position: absolute;
			bottom: 0;
			left: 0;
			height: auto;
			padding: .5em;
			width: 100%;
			display: block;
			z-index: 100;
			
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			border: none;
			box-sizing: border-box;
			outline: 0;
			text-decoration: none;
			transition: 0.3s;
			background-color: $tw-blueGray-400;
			color: $tw-blueGray-50;
			cursor: pointer;
			@media (pointer: fine){
				&:hover{
					background-color: $tw-blueGray-500;
				}
			}
			&:active{
				background-color: $tw-blueGray-600;
			}
		}
	}
	.mnrf-input{
		padding: 0;
		&>*:not(.sub-frame){
			display: none;
		}
		.sub-frame{
			border-radius: 0;
			border: none;
			border-bottom: 1px solid $tw-lightBlue-300;
		}
		.sub-col{
			position: static;
		}
		.sub-data{
			height: 100vh;
			max-height: none;
			padding-bottom: 200px;
			box-shadow: none;
			border: none;
			border-radius: 0;
		}
	}
}

