@import "../../color";

.mnrf-input {
	// display: flex;
	// align-items: center;
	// justify-content: center;
	display: block;
	&.opt-bg{
		padding: 5px;
		background-color: rgba($tw-lightBlue-500, .1);
	}
	
	&>.sub-hint{
		display: block;
		color: $tw-lightBlue-500;
		padding: 4px 0 2px;
	}
	&>.sub-info{
		display: block;
		color: $tw-lightBlue-500;
		padding: 0 0 4px;
	}
	&>.sub-title{
		display: block;
		color: $tw-lightBlue-500;
		padding: 2px 0;
		font-size: 1.15em;
	}
	.sub-frame{
		display: block;
		background-color: white;
		border-color: $tw-lightBlue-300;
		border-style: solid;
		border-width: 1px;
		border-radius: 2px;
		.sub-header{
			display: block;
			line-height: 10px;
			padding: .4em .5em;
			font-size: .9em;
			margin-bottom: -.6em;
			color: $tw-lightBlue-400;
		}
	}
	
	
	.sub-block{
		display: block;
		width: 100%;
	}
	.sub-flex{
		display: flex;
		// align-items: center;
		// justify-content: center;
		// flex-wrap: wrap;
		// &>*{
		// 	flex: 1;
		// }
		input { min-width: 1px; }
	}
	
	.sub-icon{
		width: 2em;
		padding: 0 .5em;
		fill: currentColor;
		color: $tw-lightBlue-400;
		&.sub-pr-0{
			padding-right: 0;
		}
		&.sub-pl-0{
			padding-left: 0;
		}
	}
	
	input {
		border: none;
		outline: 0;
		display: block;
		width: 100%;
		margin: 0;
		background-color: rgba(0, 0, 0, 0);
		color: #555;
		padding: 0.5em;
		cursor: inherit;

		&::placeholder {
			color: $tw-blueGray-400;
		}
	}
	
	
	
	&.state-hover:not(.state-disable){
		.sub-frame{
			border-color: $tw-lightBlue-400;
			box-shadow: 0 0 0 2px rgba($tw-lightBlue-500, .2);
			input:hover:not(:focus){
				&::placeholder {
					color: $tw-blueGray-500;
				}
			}
			.sub-header{
				color: $tw-lightBlue-500;
			}
			.sub-icon{
				color: $tw-lightBlue-500;
			}
		}
	}
	&.state-focus:not(.state-disable){
		&>.sub-hint{
			color: $tw-lightBlue-600;
		}
		&>.sub-title{
			color: $tw-lightBlue-600;
		}
		&>.sub-info{
			color: $tw-lightBlue-600;
		}
		.sub-frame{
			border-color: $tw-lightBlue-600;
			box-shadow: 0 0 0 2px rgba($tw-lightBlue-500, 0.4);
			.sub-header{
				color: $tw-lightBlue-600;
			}
			.sub-icon{
				color: $tw-lightBlue-600;
			}
		}
	}
	
	&.state-disable {
		.sub-frame{
			border-color: $tw-lightBlue-200;
			cursor: no-drop;
			// box-shadow: 0 0 0 2px rgba($tw-lightBlue-500, 0.4);
			input:disabled{
				&::placeholder {
					color: $tw-blueGray-300;
				}
			}
			.sub-header{
				color: $tw-lightBlue-300;
			}
			.sub-icon{
				color: $tw-lightBlue-300;
			}
		}
	}
}