@font-face {
	font-family: IRANSansWeb;
	src: url("IRANSansWeb.woff");
}
html {
	font-family: IRANSansWeb;
	font-size: 14px;
}
body {
	background-color: #eee;
	padding-bottom: 500px;
}
main {
	background-color: white;
	box-sizing: border-box;
	padding: 10px;
	margin: 40px auto 900px;
	width: 400px;
	max-width: 100%;
}